/*///// INDEX PAGE IMAGE GALLERY GRID /////*/
.grid-container#index-page {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.grid-item.index-img {
  height: 175px;
  width: 175px;
  background-color: #EDEDED;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
}

/*////// LOGIN & SIGN UP SCREEN //////*/
div.outer-div.form-all {
  width: auto;
  margin-top: 50px;
  background-color: #EDEDED;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  font-size: 18px;
  font-weight: normal;
  font-family: "Poppins", arial, sans-serif;
  }


/*///// USER HOME PAGE SHOW VIEW /////*/
.grid-container#home-view {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-content: start;

}

.grid-item.created-restaurant,
.grid-item.restaurant {
  height: 20px;
  width: 270px;
  background-color: #EDEDED;
  padding: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}


/* RESTAURANT SHOW PAGE  */
.grid-container#restaurant-show {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: start;
}

.grid-item.restaurant-show {
  background-color: #EDEDED;
  padding: 15px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  text-decoration: none;
  text-transform: capitalize;
  justify-content: center;
  align-content: start;
}

div#neighborhood.grid-item.restaurant-show,
div#category.grid-item.restaurant-show {
  padding: 25px;
  text-align: center;
  align-content: start;
  line-height: 75%;
  grid-column: 1;
}

.grid-container > div#tips {
  text-align: left;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

#edit-delete-restaurant-and-bookmark {
  text-align: center;
}

/* ///////// RESTAURANT ALL PAGE /////////*/
div.index-page.grid-container#restaurant-index {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 10px;
  padding: 20px;
}

div.grid-item.restaurant-index#created-restaurant {
  height: 100px;
  width: 270px;
  background-color: #EDEDED;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
  align-content: start;
  font-size: 16px;

}




/*///// CREATE NEW & EDIT RESTAURANT /////*/
.grid-container#new-restaurant,
.grid-container#edit-restaurant {
    display: grid;
    grid-column: auto;
    padding: 10px;
    align-content: start;
    margin-top: 10px;
    background-color: #EDEDED;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    width: 400px;

}



div.grid-item-inputs {
  font-weight: normal;
  font-family: "Poppins", arial, sans-serif;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 16px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  font-weight: normal;
  font-family: "Poppins", arial, sans-serif;


  }
