body {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 13px;
  border-top: solid 2px;
  background-image: url('../Images/marble.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: read;
}

.navbar{
  margin-bottom: 0px;
  padding: 1;
  background-color:white;
}
