<div id="login-signup">
  <div class="outer-div form-all">
    <div class="inner-div wrapper">
      <h4 class="login-signup">Sign Up!</h4>
      <form action="/signup" method="post">
        <input type="text" id="userName" class="form-control" name="username" placeholder="username"><br>
        <p class="requirements">Username must be 3 characters.</p>
        <br>
        <input type="password" id="userPassword" class="form-control" name="password" placeholder="password"><br>
        <p class="requirements">Password must be between 6 and 20 characters</p>
        <br>
        <div class="wrapper">
          <input type="submit" class="button" value="submit">
        </div>
      </form>
    </div>
  </div>
</div>
