<div class="container user_signup" id="user_signup_form">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-signup">
        <h4>Sign Up!</h4>
        <form action="/signup" method="post">
          <input type="text" id="userName" class="form-control input-sm chat-input" name="username" placeholder="username"><br>
          <br>
          <input type="text" id="userEmail" class="form-control input-sm chat-input" name="email" placeholder="email"><br>
          <br>
          <input type="password" id="userPassword" class="form-control input-sm chat-input" name="password" placeholder="password"><br>
          <br>
          <div class="wrapper">
            <span class="col-7 text-right">
              <input type="submit" class="btn btn-primary btn-md" value="submit">
            </span>
          </div>
        </form> <!--form end -->
      </div> <!--form-signup end -->
    </div> <!--col end -->
  </div> <!-- row end -->
</div> <!--container end-->
