<h1>Browse Users</h1>

<br>
<div>
<% @creators.each do |creator| %>
<div class="form-all wrapper">

  <h3><a href="/users/<%=creator.id%>"><%=creator.username%></a></h3>
  <br>
  <% creator.created_restaurants.each do |created_restaurant| %>
  <a href="/restaurants/<%=created_restaurant.id%>"><%=created_restaurant.name%></a></p>


  <% end %>

</div>
<br><br>
<% end %>
</div>
