<h1>Browse Users</h1>

<br>
<div>
<% @creators.each do |creator| %>
<div>
  <a href="/users/<%=creator.id%>"><%=creator.username%></a>
  <% @created_restaurants.each do |created_restaurant| %>
  <a href="/restaurants/<%=created_restaurant.id%>"><%=created_restaurant.creator.name%></p>


  <% end %>
</div>
<% end %>
</div>
