<div id="login-signup">
  <div class="outer-div form-all">
      <div class="inner-div wrapper">
        <h4 class="login-signup">Log In</h4>
        <form action="/login" method="post">
          <input type="text" id="userName" class="form-control" name="username" placeholder="username">
          <p class="requirements">Username is case sensitive.</p>
          <br>
          <input type="password" id="userPassword" class="form-control" name="password" placeholder="password">
          <p class="requirements">Password is case sensitive.</p>
          <br>
          <div class="wrapper">
              <input type="submit" class="button" value="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
