<div class="container form">
  <div class="row">
      <div class="form-all">
        <h4>Log In</h4>
        <form action="/login" method="post">
          <input type="text" id="userName" class="form-control input-sm chat-input" name="username" placeholder="username"><br>
          <br>
          <input type="password" id="userPassword" class="form-control input-sm chat-input" name="password" placeholder="password"><br>
          <br>
          <div class="wrapper">
            <span class="col-7 text-right">
              <input type="submit" class="btn btn-primary btn-md" value="submit">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
