<div class="outer-div" id="restaurant-index">

  <h1 id="restaurant-index-title">Browse Restaurants</h1>
  <h3 id="restaurant-index-directions">Select an individual restaurant to bookmark to your home page</h3>

  <div id="restaurants">

    <% @created_restaurants.order(:name).each do |created_restaurant| %>

    <div class="wrapper col-6" id="created-restaurant">
      <a href="/restaurants/<%=created_restaurant.id%>" id="restaurant-link"><%=created_restaurant.name%></a>
      <p id="index-details"><%=created_restaurant.category%><p>
      <p><%=created_restaurant.neighborhood%></p>

      </div>

      <% end %>
    </div>
  </div>
