<h1>Browse Restaurants</h1>

<br>
<div class="container form-all text-center index-page">
<% @created_restaurants.each do |created_restaurant| %>
<div>
  <a href="/restaurants/<%=created_restaurant.id%>"><%=created_restaurant.name%></a>
  <p><%=created_restaurant.category%>
    <br>
  <%=created_restaurant.neighborhood%></p>
</div>
<% end %>
</div>
