<div class="outer-div wrapper" id="new-restaurant">

    <h2>Create a Restaurant</h2>
    <p>Make sure to fill out all fields.</p>

  <form action="/restaurants" id="new-restaurant" method="post">
    <div class="form-input">
      <input type="text" name="name" class="form-control" id="created-restaurant-name" placeholder="Restaurant Name">
      <br>
      <input type="text" name="neighborhood" class="form-control" id="created-restaurant-neighborhood" placeholder="Neighborhood">
      <br>
      <input type="text" name="street_address" class="form-control" id="created-restaurant-street_address" placeholder="Street Address">
      <br>
      <input type="text" name="category" class="form-control" id="created-restaurant-category" placeholder="Category: (i.e. Chinese, Italian, Pub)">
      <br>
      <input type="text" name="tips" class="form-control" id="created-restaurant-tips" placeholder="Recs: (i.e. best wings, romantic etc)">
      <br>
      <input id="visited" type="radio" name="visited" value="visited">Been There!</input>
      <br>
      <input id="wish-list" type="radio" name="visited" value="wish-list" checked="checked">Still Need To Go!</input>
      <br>
      <input type="submit" class="button" value="submit">
    </div>


  </form>
</div>
