<br>
<div class="container new_restaurant form-bkgd" id="new_restaurant_form">
  <div class="row">
    <div class="col-md-offset-5 col-md-5">
      <div class="form-new-restaurant">
        <h4 class="text-center">Add a Restaurant to the Database!</h4>
        <form action="/restaurants" id="new_restaurant" method="post">
          <input type="text" name="name" class="form-control input-sm chat-input" placeholder="Restaurant Name">
          <br>
          <input type="text" name="neighborhood" class="form-control input-sm chat-input" placeholder="Neighborhood">
          <br>
          <input type="text" name="street_address" class="form-control input-sm chat-input" placeholder="Street Address">
          <br>
          <textarea name="category" class="form-control input-sm chat-input" form="new_restaurant" rows="2" cols="50" placeholder="Category (i.e. Chinese, Italian, Pub)"></textarea>
          <label></label><br>
          <textarea name="tips" class="form-control input-sm chat-input" form="new_restaurant" rows="4" cols="50" placeholder="Notes about what the restaurant is known for (i.e. amazing burrito, best wings, romantic night out)"></textarea>
          <br>
          <div class="wrapper">
            <span class="col-7 text-right">
              <input type="submit" class="btn btn-primary btn-md" value="submit">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
