<h1>Add a Restaurant to the Database!</h1>
<br>
<form action="/restaurants" id="new_restaurant" method="post">

  <label>Restaurant Name: </label><br>
  <input type="text" name="name"><br><br>
  <label>Neighborhood: </label><br>
  <input type="text" name="neighborhood"><br><br>
  <label>Street Address: </label><br>
  <input type="text" name="street_address"><br><br>
  <label>Category: </label><br>
  <input type="text" name="category" placeholder="i.e. Chinese, Italian, Pub"></textarea><br><br>
  <label>Notes about what the restaurant is known for: </label><br>
  <textarea name="tips" form="new_restaurant" rows="8" cols="50" placeholder="i.e. amazing burrito, best wings, romantic night out"></textarea><br><br>
  <input type="submit" value="submit">
</form>
