<div class="titles">
    <h2>Create a Restaurant</h2>
    <h3>Make sure to fill out all fields.</h3>
  </div>


  <div class="grid-container outer-div form-all wrapper" id="new-restaurant">

      <form action="/restaurants" id="new-restaurant" method="post">
        <input type="text" name="name" class="grid-item" id="created-restaurant-name" placeholder="Restaurant Name">

        <input type="text" name="neighborhood" class="grid-item" id="created-restaurant-neighborhood" placeholder="Neighborhood">

        <input type="text" name="street_address" class="grid-item" id="created-restaurant-street_address" placeholder="Street Address">

        <textarea name="category" class="grid-item" id="created-restaurant-category" form="new-restaurant" rows="2" cols="50" placeholder="Category (i.e. Chinese, Italian, Pub)"></textarea>

        <textarea name="tips" class="grid-item" id="created-restaurant-tips" form="new-restaurant" rows="4" cols="50" placeholder="Notes about what the restaurant is known for (i.e. amazing burrito, best wings, romantic night out)"></textarea>

        <div class="wrapper">
          <div class="bookmark">
            <input id="visited" type="radio" name="visited" value="visited">Been There!</input>

            <input id="wish-list" type="radio" name="visited" value="wish-list" checked="checked">Still Need To Go!</input>

            <input type="submit" class="button" value="submit">
          </form>
        </div>
      </div>

    </div>

  </div>

</div>
