<div class="outer-div center" id="index-page">
  <h1>Restauranteer</h1>
  <h3>Helping You Make Tasty Decisions... One Meal At A Time</h3>

  <div class="grid-container" id="index-pictures">
    <img src="images/bricktops.jpg" alt="Bricktops Restaurant STL" class="col-3 wrapper">
    <img src="images/farmhaus1.jpg" alt="Farmhaus Restaurant STL" class="col-3 wrapper">
    <img src="images/farmhaus2.jpg" alt="Farmhaus Restaurant STL" class="col-3 wrapper">
    <img src="images/farmhaus3.jpg" alt="Farmhaus Restaurant STL" class="col-3 wrapper">
    <img src="images/favazzas.jpg" alt="Favazzas Restaurant STL" class="col-3 wrapper">
    <img src="images/gamlin1.jpg" alt="Gamlin Whiskey House STL" class="col-3 wrapper">
    <img src="images/gamlin2.jpg" alt="Gamlin Whiskey House STL" class="col-3 wrapper">
    <img src="images/gamlin3.jpg" alt="Gamlin Whiskey House STL" class="col-3 wrapper">
    <img src="images/half&half1.jpg" alt="Half and Half STL" class="col-3 wrapper">
    <img src="images/half&half2.jpg" alt="Half and Half STL" class="col-3 wrapper">
    <img src="images/half&half3.jpg" alt="Half and Half STL" class="col-3 wrapper">
    <img src="images/half&half4.jpg" alt="Half and Half STL" class="col-3 wrapper">
    <img src="images/hipointe.jpg" alt="Hi Pointe Drive In STL" class="col-3 wrapper">
    <img src="images/momos.jpg" alt="Momos Greek Tavern STL" class="col-3 wrapper">
    <img src="images/pastaria.jpg" alt="Pastaria STL" class="col-3 wrapper">
    <img src="images/scape.jpg" alt="Scape STL" class="col-3 wrapper">

  </div>
</div>
