<div class="slider-holder" id="home-page">
  <span id="slider-image-1"></span>
  <span id="slider-image-2"></span>
  <span id="slider-image-3"></span>
  <span id="slider-image-4"></span>
  <span id="slider-image-5"></span>
  <span id="slider-image-6"></span>
  <span id="slider-image-7"></span>
  <span id="slider-image-8"></span>
  <span id="slider-image-9"></span>
  <span id="slider-image-10"></span>
  <span id="slider-image-11"></span>
  <span id="slider-image-12"></span>
  <span id="slider-image-13"></span>
  <span id="slider-image-14"></span>
  <span id="slider-image-15"></span>
  <span id="slider-image-16"></span>
  <span id="slider-image-17"></span>
  <span id="slider-image-18"></span>
  <span id="slider-image-19"></span>
  <div class="image-holder">
    <img src="images/boundary.jpg" alt="Boundary Restaurant STL" class="slider-image">
    <img src="images/bricktops.jpg" alt="Bricktops Restaurant STL" class="slider-image">
    <img src="images/farmhaus1.jpg" alt="Farmhaus Restaurant STL" class="slider-image">
    <img src="images/farmhaus2.jpg" alt="Farmhaus Restaurant STL" class="slider-image">
    <img src="images/farmhaus3.jpg" alt="Farmhaus Restaurant STL" class="slider-image">
    <img src="images/favazzas.jpg" alt="Favazzas Restaurant STL" class="slider-image">
    <img src="images/gamlin1.jpg" alt="Gamlin Whiskey House STL" class="slider-image">
    <img src="images/gamlin2.jpg" alt="Gamlin Whiskey House STL" class="slider-image">
    <img src="images/gamlin3.jpg" alt="Gamlin Whiskey House STL" class="slider-image">
    <img src="images/gamlin4.jpg" alt="Gamlin Whiskey House STL" class="slider-image">
    <img src="images/half&half1.jpg" alt="Half and Half STL" class="slider-image">
    <img src="images/half&half2.jpg" alt="Half and Half STL" class="slider-image">
    <img src="images/half&half3.jpg" alt="Half and Half STL" class="slider-image">
    <img src="images/half&half4.jpg" alt="Half and Half STL" class="slider-image">
    <img src="images/half&half5.jpg" alt="Half and Half STL" class="slider-image">
    <img src="images/hipointe.jpg" alt="Hi Pointe Drive In STL" class="slider-image">
    <img src="images/momos.jpg" alt="Momos Greek Tavern STL" class="slider-image">
    <img src="images/pastaria.jpg" alt="Pastaria STL" class="slider-image">
    <img src="images/scape.jpg" alt="Scape STL" class="slider-image">
  </div>
  <div class="button-holder">
    <a href="#slider-image-1" class="slider-change"></a>
    <a href="#slider-image-2" class="slider-change"></a>
    <a href="#slider-image-3" class="slider-change"></a>
    <a href="#slider-image-4" class="slider-change"></a>
    <a href="#slider-image-5" class="slider-change"></a>
    <a href="#slider-image-6" class="slider-change"></a>
    <a href="#slider-image-7" class="slider-change"></a>
    <a href="#slider-image-8" class="slider-change"></a>
    <a href="#slider-image-9" class="slider-change"></a>
    <a href="#slider-image-10" class="slider-change"></a>
    <a href="#slider-image-11" class="slider-change"></a>
    <a href="#slider-image-12" class="slider-change"></a>
    <a href="#slider-image-13" class="slider-change"></a>
    <a href="#slider-image-14" class="slider-change"></a>
    <a href="#slider-image-15" class="slider-change"></a>
    <a href="#slider-image-16" class="slider-change"></a>
    <a href="#slider-image-17" class="slider-change"></a>
    <a href="#slider-image-18" class="slider-change"></a>
    <a href="#slider-image-19" class="slider-change"></a>
  </div>
</div>




<!--





<div class="grid-container" id="home-page">
<img src="images/boundary.jpg" alt="Boundary Restaurant STL" class="grid-item">
<img src="images/bricktops.jpg" alt="Bricktops Restaurant STL" class="grid-item">
<img src="images/farmhaus1.jpg" alt="Farmhaus Restaurant STL" class="grid-item">
<img src="images/farmhaus2.jpg" alt="Farmhaus Restaurant STL" class="grid-item">
<img src="images/farmhaus3.jpg" alt="Farmhaus Restaurant STL" class="grid-item">
<img src="images/favazzas.jpg" alt="Favazzas Restaurant STL" class="grid-item">
<img src="images/gamlin1.jpg" alt="Gamlin Whiskey House STL" class="grid-item">
<img src="images/gamlin2.jpg" alt="Gamlin Whiskey House STL" class="grid-item">
<img src="images/gamlin3.jpg" alt="Gamlin Whiskey House STL" class="grid-item">
<img src="images/gamlin4.jpg" alt="Gamlin Whiskey House STL" class="grid-item">
<img src="images/half&half1.jpg" alt="Half and Half STL" class="grid-item">
<img src="images/half&half2.jpg" alt="Half and Half STL" class="grid-item">
<img src="images/half&half3.jpg" alt="Half and Half STL" class="grid-item">
<img src="images/half&half4.jpg" alt="Half and Half STL" class="grid-item">
<img src="images/half&half5.jpg" alt="Half and Half STL" class="grid-item">
<img src="images/hipointe.jpg" alt="Hi Pointe Drive In STL" class="grid-item">
<img src="images/momos.jpg" alt="Momos Greek Tavern STL" class="grid-item">
<img src="images/pastaria.jpg" alt="Pastaria STL" class="grid-item">
<img src="images/scape.jpg" alt="Scape STL" class="grid-item">
</div> -->
