<div class="grid-container" id="home-page">
  <img src="images/boundary.jpg" alt="Boundary Restaurant STL" class="grid-item">
  <img src="images/bricktops.jpg" alt="Bricktops Restaurant STL" class="grid-item">
  <img src="images/farmhaus1.jpg" alt="Farmhaus Restaurant STL" class="grid-item">
  <img src="images/farmhaus2.jpg" alt="Farmhaus Restaurant STL" class="grid-item">
  <img src="images/farmhaus3.jpg" alt="Farmhaus Restaurant STL" class="grid-item">
  <img src="images/favazzas.jpg" alt="Favazzas Restaurant STL" class="grid-item">
  <img src="images/gamlin1.jpg" alt="Gamlin Whiskey House STL" class="grid-item">
  <img src="images/gamlin2.jpg" alt="Gamlin Whiskey House STL" class="grid-item">
  <img src="images/gamlin3.jpg" alt="Gamlin Whiskey House STL" class="grid-item">
  <img src="images/gamlin4.jpg" alt="Gamlin Whiskey House STL" class="grid-item">
  <img src="images/half&half1.jpg" alt="Half and Half STL" class="grid-item">
  <img src="images/half&half2.jpg" alt="Half and Half STL" class="grid-item">
  <img src="images/half&half3.jpg" alt="Half and Half STL" class="grid-item">
  <img src="images/half&half4.jpg" alt="Half and Half STL" class="grid-item">
  <img src="images/half&half5.jpg" alt="Half and Half STL" class="grid-item">
  <img src="images/hipointe.jpg" alt="Hi Pointe Drive In STL" class="grid-item">
  <img src="images/momos.jpg" alt="Momos Greek Tavern STL" class="grid-item">
  <img src="images/pastaria.jpg" alt="Pastaria STL" class="grid-item">
  <img src="images/scape.jpg" alt="Scape STL" class="grid-item">
</div>
