<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Restauranteer</title>


  <!--/////////// GOOGLE FONTS ///////////-->
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Poppins" rel="stylesheet">

  <!--////////// MY STYLE SHEET //////////-->
  <link rel="stylesheet" type="text/css" href="/stylesheet/stylesheet.css">

</head>
<body class="bkgd-image">

    <div class="nav">
      <% if logged_in? %>
        <a href="/home">Home</a>
        <a href="/restaurants">Restaurants</a>
        <a href="/restaurants/new">Create Restaurant</a>
        <a href="/logout">Log Out</a>
        <p class="welcome-user">Welcome, <%= current_user.username %></p>

      <% else %>

        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>

      <% end %>
      <div class="flash-message">
      <% if flash.has?(:message)%>
        <%= flash[:message]%>
        <% flash[:message]%>
        <% flash[:message] = nil %>
        <% end %>
      </div>
    </div>
    <br><br>



    <div class="container">




    <%= yield %>

  </div>
  <div class="footer">
    Made with &hearts; by TheNeuMama
  </div>
</body>
</html>
