<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Restauranteer</title>


  <!--/////////// GOOGLE FONTS ///////////-->
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Poppins" rel="stylesheet">

  <!--////////// MY STYLE SHEET //////////-->
  <link rel="stylesheet" type="text/css" href="/stylesheet/stylesheet.css">

</head>
<body class="bkgd-image">
  <div class="container">
    <div id="nav">
      <% if logged_in? %>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/restaurants/new">Create Restaurant</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><p class="welcome-user">Welcome, <%= current_user.username %></p></li>
      </ul>
      <% else %>
      <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Sign In</a></li>
      </ul>
      <% end %>
    </div>

    <div class="flash-message">
    <% if flash.has?(:message)%>
      <%= flash[:message]%>
      <% flash[:message]%>
      <% flash[:message] = nil %>
      <% end %>
    </div>

    <%= yield %>

  </div>
</body>
</html>
