<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Restauranteer</title>

<!--google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Poppins" rel="stylesheet">

<!--my style sheet-->
    <link rel="stylesheet" type="text/css" href="/stylesheet/stylesheet.css">

  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-toggleable-md-navbar-light bg-faded">
      <a href="/restaurants">Home</a>

      <% if logged_in? %>
      <a href="/restaurants/new">Create Restaurant</a>
      <a href="/logout">Log Out</a>
      <p>Welcome, <%= current_user.username %></p>

      <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Sign In</a>
      <% end %>

    </nav>
    <div class="container">

      <%= yield %>

    </div>

  </body>
</html>
