<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Restauranteer</title>

<!--//////BOOTSTRAP CSS STYLESHEET//////-->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<!--/////////// GOOGLE FONTS ///////////-->
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Poppins" rel="stylesheet">

<!--////////// MY STYLE SHEET //////////-->
  <link rel="stylesheet" type="text/css" href="/stylesheet/stylesheet.css">

  </head>
  <body class="bkgd-image">
    <div class="container">
    <nav class="">
      <div class="container pull-left">


      <% if logged_in? %>
      <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/restaurants">Restaurants</a></li>
      <li><a href="/restaurants/new">Create Restaurant</a></li>
      <li><a href="/logout">Log Out</a></li>
      <li><p>Welcome, <%= current_user.username %></p></li>
    </ul>
      <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Sign In</a>
      <% end %>
      </div>
    </nav>
  <br>
  <div class="container">
    <div class="flash-message">
      <% if flash.has?(:message)%>
      <%= flash[:message]%>
      <% flash[:message] = nil %>
      <%end%>
    </div>
      <br>
      <%= yield %>

  </div>

    <!--///// JS BOOTSTRAP JQUERY & POPPER /////-->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  </body>
</html>
